<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="localConnection" connectionString="Data Source=(localdb)\MaksymServerLocal;Initial Catalog=Business;Integrated Security=True"/>
		<add name="connectionKantnerova" connectionString="Data Source=193.85.203.188;Initial Catalog=tvujUserName;Persist Security Info=True;User ID=tvujUserName;Password=tvojeHeslo"/>
		<add name="skolniConnection" connectionString="Data Source=PCXXX;Initial Catalog=Firma;Persist Security Info=True;User ID=sa;Password=student"/>
	</connectionStrings>
</configuration>