<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="localConnection" connectionString="Data Source=(localdb)\MaksymServerLocal;Initial Catalog=Business;Integrated Security=True"/>
		<add name="connectionKantnerova" connectionString="Data Source=;Initial Catalog=;Persist Security Info=True;User ID=;Password="/>
		<add name="skolniConnection" connectionString="Data Source=PCXXX;Initial Catalog=Firma;Persist Security Info=True;User ID=sa;Password=student"/>
	</connectionStrings>
</configuration>
